/* src/styles/UserDetails.css */
.user-details-container {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .user-avatar-large {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 50%;
    animation: scaleUp .5s ease-out; /* Apply the animation */
  }
  
  @keyframes scaleUp {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .user-info {
    flex: 1;
  }
  
  .user-info h2 {
    margin: 0 0 10px 0;
  }
  
  .user-info p {
    margin: 0;
  }
  
  .user-info span {
    font-weight: bold;
  }
  